/* *********************************************************
   These are the styles used in the Main Menu with CSS page
   ********************************************************* */	
body{
	//width:1280px;
	//margin-left:auto;
	//margin-right:auto;}
	
nav.menu{
	background-color: #000000;
	line-height: 40px;
	text-align: left;
	width: 80%;}
		
nav ul li{
	display: inline;}
		
nav ul li a{
	color: #c0c0c0;
	text-decoration: none;
	border-right: 1px solid #c0c0c0;
	padding:5px;
	transition:background 0.3s linear 0s, color 0.3s linear 0s;}
	
nav ul li a:hover{
	color: #000000;
	background-color: #00ee00;}

/* *********************************************************
   These are the styles used in the Forms page
   ********************************************************* */	
   
div.info{
	display:table-cell;
	width:23%;
	text-align:center;}
	
div.form{
	display:table-cell;
	border:1px solid #c0c0c0;
	width:40%;}
	
hr.block{
	height:5px;
	background-color:#ff0000;
	border:1px solid #000000;}
	
p.fancy{
	color:#336699;
	text-shadow: 2px 2px #c0c0c0;
	font-size:25px;}
	
p.discount{
	font-size:11px;}
	
div.wrapper1{
	display:table;
	background-color:#f0f0f0;
	width:79%;
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	border:1px solid #c0c0c0;
	border-radius:10px;
	margin: 0 auto;}
	
div.block3{
	margin-top:20px;
	margin-bottom:30px;}
	
table.pizza{
	border-collapse: collapse;
	border:3px solid #000000;
	margin-left:auto;
	margin-right:auto;
	width:60%;}
	
td.pizza, th.pizza{
	height:auto;
	border:1px solid #000000;}
	
input.submit{
	background-color:#00a0ff;
	border:1px solid #0000ff;
	color:#ffffff;
	height:30px;}
	
fieldset{
	width:340px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	border:4px groove #00aa00;}
	
label{
	display:block;
	float:left;
	text-align:left;
	width:100px;}
	
input.border{
	border:1px solid #c0c0c0;
	height:30px;
	color:#336699;
	text-align:center}

p.bold{
	font-weight:bold;}
	
legend{
	border:3px groove #ff0000;
	background-color:#00ee00;
	color:#336699;}
	
textarea{
	resize:none;}
	
div.pizz{
	display:table}
	
div.left{
	font-size:14px;
	display:table-cell;
	float:left;
	width:40%;}
	
div.right{
	font-size:14px;
	display:table-cell;
	float:right;
	width:40%;}
	
label.choice{
	display:block;
	float:right;
	margin-left:10px;}
	
fieldset.later{
	width:340px;
	height:380px;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	border:4px groove #00aa00;}
	
div.later{
	background-color:#ffffff;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	overflow: hidden;}
	
legend.later{
	line-height:19px;
	margin-top:10px;
	color:#336699;}
	
#errors{
	width:340px;
	height:350px;
	overflow: auto;}
	
	
/* *********************************************************
   These are the styles used in the Footer with CSS page
   ********************************************************* */
footer{
	color: #c0c0c0; 
	background-color: #000000;
	line-height: 30px;
  	text-align: center;
	width: 80%;
	margin:0 auto;}
	
footer a{
	color:#ffffff;
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;}
	
footer a:hover{
	color:#00ff00;}
